body {
    background-image: url("https://images.unsplash.com/photo-1511275539165-cc46b1ee89bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x:center top;
}

h1 {
    text-align: center;
    font-family: Consolas;
    font-weight: bolder;
    font-size: 240%;
}

main {
    text-align: center;
    font-family: Arial Black;
}

figure {
    text-align: center;
}

